<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>attraction</title>
    <link rel="stylesheet" href="/static/attraction.css" />
  </head>
  <body>
    <div class="signin-window">
      <div class="login" style="display: none">
        <div class="color"></div>
        <div class="login-headline">登入會員帳號</div>
        <input
          type="text"
          class="input-email"
          name=""
          placeholder="輸入電子信箱"
        />
        <input
          type="password"
          class="input-password"
          name=""
          placeholder="輸入密碼"
        />
        <div class="loginDiv">
          <button class="loginButton">登入帳戶</button>
          <!-- <div class="loginSuccessText">登入成功</div> -->
        </div>
        <div class="link-to-signup">還沒有帳戶? 點此註冊</div>
      </div>
    </div>
    <div class="signup-window">
      <div class="signup" style="display: none">
        <div class="color"></div>
        <div class="signup-headline">註冊會員帳號</div>
        <input type="text" class="input-name" name="" placeholder="輸入姓名" />
        <input
          type="text"
          class="input-email"
          name=""
          placeholder="輸入電子郵件"
        />
        <input
          type="password"
          class="input-password"
          name=""
          placeholder="輸入密碼"
        />
        <div class="signupDiv">
          <button class="signupButton">註冊新帳戶</button>
          <!-- <div class="signupSuccessText">註冊成功!</div> -->
        </div>
        <div class="link-to-login">已經有帳戶了? 點此登入</div>
      </div>
    </div>
    <div class="logout-window" style="display: none">
      <div class="logout-window"></div>
      <div class="color"></div>
      <div class="logout-headline">登出成功!</div>
    </div>
    <div class="frame-section">
      <div class="frame1200">
        <div class="left">台北一日遊</div>
        <div class="right">
          <div class="item booking">預定行程</div>
          <div class="item login-and-signup">登入/註冊</div>
          <div class="item logout">登出系統</div>
        </div>
      </div>
    </div>
    <!-- <hr style="width: 1200px; text-align: left; margin-left: 0" /> -->

    <!-- the upper part of the page -->
    <div class="the-upper-container">
      <div class="the-upper-part">
        <!-- the left part  -->
        <div class="slideshow-container the-upper-left">
          <!-- Full-width images with number and caption text -->

          <!-- <div class="mySlides fade">
          <img src="img1.jpg" style="width: 100%" />
        </div> -->

          <!-- Next and previous buttons -->
          <img
            src="/static/btn_leftArrow.png"
            class="prev"
            onclick="plusSlides(-1)"
          />
          <img
            src="/static/btn_rightArrow.png"
            class="next"
            onclick="plusSlides(1)"
          />
          <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a> -->
          <!-- <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
          <!-- The dots/circles -->
          <div class="dots" style="text-align: center">
            <!-- <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span> -->
          </div>
          <!-- end of the slide show container -->
        </div>
        <br />

        <!-- the right part -->
        <div class="the-upper-right">
          <div class="att-name"></div>
          <div class="cat-and-mrt">
            <span class="cat"></span> at <span class="mrt"></span>
          </div>
          <div class="booking-process">
            <div class="headline">訂購導覽行程</div>
            <div class="headline-descript">
              以此景點為中心的一日行程，帶您探索城市角落故事
            </div>

            <div class="date-selector">
              <label for="start">選擇日期: </label>

              <input
                type="date"
                id="start"
                class="start"
                name="trip-start"
                value="yyyy-mm-dd"
                min="2022-12-06"
                max="2023-12-31"
              />
            </div>
            <form>
              <div class="time-selector">
                選擇時間:
                <!-- <input type="radio" class="morning" name="time" value="上半天" />
              <label for="morning">上半天</label>
              <input
                type="radio"
                class="afternoon"
                name="time"
                value="下半天"
              />
              <label for="afternoon">下半天</label> -->

                <!-- test code starts -->
                <span>
                  <input
                    id="option-one"
                    class="morning"
                    name="radio"
                    value="上半天"
                    checked="checked"
                    type="radio"
                  />
                  <label for="option-one"> <span></span>上半天</label>
                  <!-- <label for="option-one"> <span>上半天</span> </label> -->
                </span>
                <span>
                  <input
                    id="option-two"
                    class="afternoon"
                    name="radio"
                    value="下半天"
                    type="radio"
                  />
                  <label for="option-two"> <span></span>下半天</label>
                </span>

                <!-- test code ends -->
              </div>
            </form>

            <div class="prices">
              導覽費用:
              <span class="price">新台幣 2000 元</span>
            </div>
            <button class="bookingBtn">開始預約行程</button>
          </div>
        </div>
      </div>
    </div>
    <!-- the bottom part of the page -->
    <div class="the-bottom-container">
      <div class="the-bottom-part intros">
        <div class="descr"></div>
        <div class="intro-text"></div>
        <div class="address-headline">
          景點地址:
          <div class="address"></div>
        </div>
        <div class="transport-headline">
          交通方式:
          <div class="transport"></div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-text">COPYRIGHT © 2022 台北一日遊</div>
    </footer>

    <script type="text/javascript" src="/static/attraction.js"></script>
  </body>
</html>
