<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>booking</title>
    <link rel="stylesheet" href="/static/booking.css" />
  </head>

  <body>
    <div class="signin-window">
      <div class="login" style="display: none">
        <div class="color"></div>
        <div class="login-headline">登入會員帳號</div>
        <input
          type="text"
          class="input-email"
          name=""
          placeholder="輸入電子信箱"
        />
        <input
          type="password"
          class="input-password"
          name=""
          placeholder="輸入密碼"
        />
        <div class="loginDiv">
          <button class="loginButton">登入帳戶</button>
          <!-- <div class="loginSuccessText">登入成功</div> -->
        </div>
        <div class="link-to-signup">還沒有帳戶? 點此註冊</div>
      </div>
    </div>
    <div class="signup-window">
      <div class="signup" style="display: none">
        <div class="color"></div>
        <div class="signup-headline">註冊會員帳號</div>
        <input type="text" class="input-name" name="" placeholder="輸入姓名" />
        <input
          type="text"
          class="input-email"
          name=""
          placeholder="輸入電子郵件"
        />
        <input
          type="password"
          class="input-password"
          name=""
          placeholder="輸入密碼"
        />
        <div class="signupDiv">
          <button class="signupButton">註冊新帳戶</button>
          <!-- <div class="signupSuccessText">註冊成功!</div> -->
        </div>
        <div class="link-to-login">已經有帳戶了? 點此登入</div>
      </div>
    </div>
    <div class="logout-window" style="display: none">
      <div class="logout-window"></div>
      <div class="color"></div>
      <div class="logout-headline">登出成功!</div>
    </div>
    <div class="frame-section">
      <div class="frame1200">
        <div class="left">台北一日遊</div>
        <div class="right">
          <div class="item booking">預定行程</div>
          <div class="item login-and-signup">登入/註冊</div>
          <div class="item logout">登出系統</div>
        </div>
      </div>
    </div>

    <div class="greetings">
      您好 ， <span class="greetingName"></span> 待預訂的行程如下
    </div>

    <div class="upper_and_bottom">
      <div class="the-upper-container">
        <div class="the-upper-part">
          <!-- the left part  -->
          <div class="the-upper-left"></div>
          <!-- the right part -->
          <img class="bookingImg" src="" alt="" />
          <div class="the-upper-right">
            <div class="nameDiv">台北一日遊:<span class="nameSpan"></span></div>
            <div class="dateDiv">日期:<span class="dateSpan"></span></div>
            <div class="timeDiv">時間:<span class="timeSpan"></span></div>
            <div class="priceDiv">費用:<span class="priceSpan"></span></div>
            <div class="addressDiv">地點:<span class="addressSpan"></span></div>
          </div>
          <div>
            <img
              class="delete-icon"
              src="/static/icon_delete.png"
              alt=""
              style="width: 30px; height: 30px"
            />
          </div>
        </div>
      </div>

      <div class="the-bottom-container">
        <div class="contactInfo">
          您的聯絡資訊
          <form action="">
            <label for="contactName">聯絡姓名：</label><br />
            <input
              type="text"
              id="contactName"
              name="contactName"
              placeholder="Yakko"
            /><br />
            <label for="contactEmail">聯絡信箱：</label><br />
            <input
              type="text"
              id="contactEmail"
              name="contactEmail"
              placeholder="imyakkowu@gmail.com"
            /><br />
            <label for="contactPhone">手機號碼：</label><br />
            <input
              type="text"
              id="contactPhone"
              name="contactPhone"
              placeholder=""
            /><br /><br />
            <div class="warning-text">
              請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
            </div>
          </form>
        </div>
        <div class="paymentInfo">
          信用卡付款資訊
          <form action="">
            <label for="paymentCardNo">卡片號碼：</label><br />
            <input
              type="password"
              id="paymentCardNo"
              name="paymentCardNo"
              placeholder="**** **** **** ****"
            /><br />
            <label for="expiredDate">過期時間：</label><br />
            <input
              type="text"
              id="expiredDate"
              name="expiredDate"
              placeholder="MM /YY"
            /><br /><br />
            <label for="cvv">驗證密碼：</label><br />
            <input type="text" id="cvv" name="cvv" placeholder="cvv" /><br />
          </form>
          <div class="submitDiv">
            <div class="btnDiv">
              <button class="Btn">確認訂購並付款</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-text">COPYRIGHT © 2022 台北一日遊</div>
    </footer>
    <script type="text/javascript" src="/static/booking.js"></script>
  </body>
</html>
