<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taipei_day_trip</title>
</head>

<body>
  <div class="frame-section">
    <div class="frame1200">
      <div class="left">台北一日遊</div>
      <div class="right">
        <div class="item desktop-menu">預定行程</div>
        <div class="item desktop-menu">登入/註冊</div>
      </div>
      </div>
    </div>
  </div>

  <div class="headline-section">
    <!-- <img src="index_cover.png" class="index_cover" alt="Welcome" /> -->
    <div class="headline1200">
      <h1 class="headline">輕鬆享受台北一日悠閒</h1>
      <div class="subheadline">探索每個角落，體驗城市的深度旅遊行程</div>
      <!-- <div class="searchbar"> -->
        <form action="" class="searchbar">
        <input class="searchinput" type="text" placeholder="輸入景點名稱查詢">
        <button type="submit" class="searchbutton" id="search"><img src="icon_search.png" alt=""></button>
        </form>
      <!-- </div> -->
    </div>
  </div>



  <div class="container">
      <!-- <div class="attractions">
       <div class="attraction">
          <img src="" alt="" class="att_img">
          <div class="att-name">att-name</div>
        </div>
        <div class="details">
          <div class="mrt">mrt</div>
          <div class="cat">cat</div>
        </div> 
      </div>  -->
  </div>


  <script type="text/javascript" src="index.js"></script>
  <link rel="stylesheet" href="index.css">
</body>
<footer class="footer">
  <div class="footer-text">COPYRIGHT © 2022 台北一日遊</div>
</footer>
</html>