@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html,
body {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* desktop */
body {
  position: ​relative​;
  flex-wrap: wrap;
  max-width: 1920px;
  text-align: center;
}

.frame-section {
  z-index: 999;
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-height: 54px;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background-color: #ffffff;
}

.frame1200 {
  display: flex;
  width: 1200px;
  height: 54px;
  align-items: center;
  justify-content: center;
  margin: 10px, auto 10px, auto;
  background-color: #ffffff;
}

.left {
  width: 150px;
  height: 34px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 0px;
  justify-content: flex-start;
  margin-right: 0px;
  color: #448899;
}

.right {
  display: flex;
  width: auto;
  flex: auto;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  color: #666666;
}

.item {
  flex: none;
  width: 100px;
  text-align: center;
}

.headline-section {
  background: no-repeat center/100% url("index_cover.png");
  margin-bottom: 5%;
  background-clip: padding-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  height: 480px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 1920px;
}

/* .index_cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
} */

.headline1200 {
  justify-content: space-between;
  width: 1200px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.headline {
  margin-top: 0;
  margin-bottom: 1%;
  text-align: start;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  display: flex;
  align-items: center;
  color: #f8f8f8;
  text-shadow: 0px 0px 30px #aabbcc;
  width: 1180px;
  height: 41px;
  text-align: center;
}
.subheadline {
  margin-bottom: 1%;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  color: #f8f8f8;
}

.searchbar {
  display: flex;
}

.searchinput {
  border-width: 0;
  border-radius: 5px 0 0 5px;
  display: flex;
  width: 370px;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  align-items: center;
  color: #757575;
}

.searchbutton {
  border-radius: 0 5px 5px 0;
  border-width: 0;
  background-color: #448899;
  z-index: 999;
}

.categories {
  margin-top: 5px;
  text-align: left;
  padding: 5px;
  font-size: 14px;
  max-width: 360px;
  height: 30%;
  background-color: white;
  color: black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-evenly;
  grid-template-areas:
    "category category category"
    "category category category"
    "category category category";
}

.container {
  overflow: scroll;
  margin-bottom: 10%;
  display: grid;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  grid-gap: 3%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: space-evenly;
  grid-template-areas:
    "attractions attractions attractions attractions"
    "attractions attractions attractions attractions"
    "attractions attractions attractions attractions";
}

.attractions {
  width: 100%;
  height: 100%;
  outline: 2px solid #e8e8e8;
  border-radius: 5px;
}

.attraction {
  display: flex;
  width: 100%;
  height: 85%;
  flex-wrap: wrap;
  margin: 0px;
}

.att-img {
  width: 100%;
  height: 100%;
  max-height: 197px;
  height: 197px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  position: relative;
}

.att-name {
  width: 100%;
  /* height: 12%; */
  margin-top: -25%;
  height: auto;
  margin-bottom: 0;
  position: relative;
  color: white;
  background: #000000;
  opacity: 0.6;
  text-align: start;
  padding: 3%;
  font-size: 100%;
}

.details {
  display: grid;
  width: 100%;
  height: 15%;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  color: #757575;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-evenly;
  grid-template-areas: "mrt cat";
}

.mrt {
  margin-left: 3%;
  justify-content: flex-start;
  grid-column: 1/3;
  text-align: left;
}

.cat {
  justify-content: flex-end;
  grid-column: 3/3;
}

.desktop-menu {
  display: block;
}

.footer {
  display: flex;
  position: ​absolute​;
  bottom: 0;
  width: 100%;
  height: 10%;
  margin-bottom: -10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #757575;
}

.footer-text {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* max-width:1200px */
@media (max-width: 1200px) {
  body {
    position: ​relative​;
    flex-wrap: wrap;
    max-width: 1200px;
    text-align: center;
  }

  .frame1200 {
    display: flex;
    max-width: 1200px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 10px, auto 10px, auto;
    background-color: #ffffff;
  }

  .headline-section {
    z-index: -999;
    background: no-repeat center/100% url("index_cover.png");
    overflow: hidden;
    background-clip: padding-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    max-height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1200px;
  }

  .headline1200 {
    padding-left: 15%;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .container {
    overflow: scroll;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin: 1%;
  }

  .attractions {
    width: 40%;
    height: 100%;
    /* height: auto; */
    outline: 2px solid #e8e8e8;
    border-radius: 5px;
    margin: 1%;
  }

  .attraction {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    /* height: 100%; */
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 0;
    text-align: end;
  }

  .att-img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
  }

  .att-name {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-top: -13%;
    position: relative;
    color: white;
    background: #000000;
    opacity: 0.6;
    text-align: start;
    font-size: 100%;
  }

  .details {
    display: grid;
    width: 100%;
    height: 15%;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    color: #757575;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-evenly;
    grid-template-areas: "mrt cat";
  }

  .mrt {
    margin-left: 3%;
    justify-content: flex-start;
    grid-column: 1/3;
    text-align: left;
  }

  .cat {
    margin-right: 3%;
    justify-content: flex-end;
    grid-column: 3/3;
    text-align: right;
  }
}

/* max-width:800px */
@media (max-width: 800px) {
  .att-img {
    width: 100%;
    height: 100%;
    /* max-height: 135px; */
    height: 176px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-bottom: 1%;
  }
  .att-name {
    width: 100%;
    /* height: 12%; */
    height: auto;
    margin-bottom: 0;
    margin-top: -23%;
    position: relative;
    color: white;
    background: #000000;
    opacity: 0.5;
    text-align: start;
    font-size: 100%;
  }
}

/* max-width:600px */
@media (max-width: 600px) {
  .headline1200 {
    padding-left: 15%;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .att-img {
    width: 100%;
    height: 100%;
    max-height: 135px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
  }

  .att-name {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-top: -30%;
    position: relative;
    color: white;
    background: #000000;
    opacity: 0.5;
    text-align: start;
    font-size: 100%;
  }

  .mrt {
    margin-left: 3%;
    justify-content: flex-start;
    grid-column: 1/2;
    text-align: left;
  }
  .cat {
    margin-right: 3%;
    justify-content: flex-end;
    grid-column: 2/4;
    text-align: right;
  }
}

/* max-width:600px */
@media (max-width: 550px) {
  body {
    max-width: 550px;
  }
  .headline1200 {
    padding-left: 15%;
    justify-content: space-between;
    max-width: 550px;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .container {
    overflow: scroll;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .attractions {
    width: 90%;
    height: 100%;
    outline: 2px solid #e8e8e8;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin: 3%;
  }
  .attraction {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 0;
  }

  .att-img {
    width: 100%;
    height: 100%;
    max-height: 235px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-bottom: 1%;
  }

  .att-name {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-top: -15%;
    position: relative;
    color: white;
    background: #000000;
    opacity: 0.5;
    text-align: start;
    font-size: 100%;
  }
}

/* mobiletop */
@media (max-width: 360px) {
  body {
    position: ​relative​;
    flex-wrap: wrap;
    max-width: 360px;
    text-align: center;
  }
  .frame-section {
    z-index: 999;
    display: flex;
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    background-color: #ffffff;
  }
  .frame1200 {
    display: flex;
    max-width: 360px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 10px, auto 10px, auto;
    background-color: #ffffff;
  }

  .headline-section {
    z-index: -999;
    background: no-repeat center/100% 150px url("index_cover.png");
    overflow: hidden;
    background-clip: padding-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    max-height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    max-width: 360px;
  }

  .headline1200 {
    padding-left: 10%;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    /* height: 80%; */
    align-items: center;
    justify-content: center;
  }

  .headline {
    margin-top: 0;
    margin-bottom: 1%;
    text-align: start;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #f8f8f8;
    text-shadow: 0px 0px 30px #aabbcc;
    max-width: 1180px;
    max-height: 41px;
    text-align: center;
  }
  .subheadline {
    margin-bottom: 1%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    color: #f8f8f8;
  }

  .searchbar {
    max-width: 300px;
    display: flex;
  }

  .searchinput {
    border-width: 0;
    border-radius: 5px 0 0 5px;
    display: flex;
    /* Status=Default */
    /* height:100%;*/
    max-width: 300px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    color: #757575;
  }
}
